{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "endOfLine": "lf",

  "experimentalTernaries": true,

  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],

  "importOrder": ["<THIRD_PARTY_MODULES>", "^\\.\\./api", "^\\.\\./com", "^\\.\\./frag", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,

  "tailwindStylesheet": "./src/index.css"
}
